
    <footer id="footer">
      <div class="social-media">
          <a class="social-links" target="_blank" href="https://www.facebook.com/vaibhav.pathak.9279"><i class="fab fa-facebook  social-icons"></i></a>
          <a class="social-links" target="_blank" href="https://www.instagram.com/vaibz23/"><i class="fab fa-instagram social-icons"></i></a>
          <a class="social-links" target="_blank" href="https://www.linkedin.com/in/vaibhav-pathak-9425141a6/"> <i class="fab fa-linkedin  social-icons"></i></a>
          <a class="social-links" target="_blank" href="https://github.com/vaibz2"> <i class="fab fa-github    social-icons"></i></a>
          <p class="copyright-txt">© 2021 VAIBHAV PATHAK</p>
      </div>
      </footer>
  <script src="index.js"></script>
</body>
</html>
